
body{
    font-family: "Red Hat Display", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: radial-gradient(
    circle at top,
    #2f554d,
    #386154,
    #517a5a
  );
} 

.calificacion{
    justify-content: center;
    text-align: center;
    margin: 2%;
}

strong {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #224229;
    font-size: 20px;
}

h1 {
  color: #2b7c3d;
  text-align: center;
  font-size: 40px;
}

.marca{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.btnmarca{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    background-color: #223d26;
    color: #d0f8ac;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    border-radius: 6px;
    border: 1px solid #1f4e19;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: auto;
}
.btnmarca:hover{
    background-color: #73d106;
    border: 1px solid #598d4d;
    color: #1e310e;
}

canvas {
    touch-action: none;
    overscroll-behavior: contain;
}
#start-screen{
    text-align: center;
    color: #224229;
}

#play-btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

